* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
body {
	position: absolute;
	width: 1920px;
	height: 3048px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
}

#imgFond {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
