* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	font-family: PT Sans;
}
body {
	/*background-color: rgba(255,255,255,1);*/
	overflow: hidden;
}

#header {
	/*position: absolute;
	width: 1920px;
	height: 1080px;*/
	left: 0px;
	top: 0px;
	overflow: visible;
}

#imgFond {
	left: 0px;
	top: 0px;
	width:  100%;
	max-height: 1080px;
	object-fit: cover;
}

#titre {
	position: absolute;
	width: 790px;
	height: 155px;
	left: 465px;
	top: 50px;
	text-align: center;
	overflow: visible;
}

#nom-club {
	position: absolute;
	overflow: visible;
	width: 795px;
	white-space: nowrap;
	text-align: left;
	font-family: PT Sans;
	font-weight: bold;
	font-size: 60px;
	color: #ffffff;
	padding:40px 24px 40px 100px;
	border: 2px solid;
	display: table-cell;
  	vertical-align: middle;
}
#nom-club span {
	position:relative;
}

#menu {
	position: absolute;
	height: 24px;
	left: 527px;
	top: 274px;
	/*overflow: visible;*/
}
#menu li {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	display: inline;
	padding:  10px;

}

###########################
##### Partie centrale #####
###########################
#main {
	width:  100%;
	background-color: #ffffff;
	height: 500px;
	position:relative;
}
.bg_horse {
	opacity: 0.2;
	position: absolute;
	width: 611.092px;
	height: 611.092px;
	left: 0px;
	top: 121.954px;
	overflow: visible;
}
#titreDecouverte {
	left: 321.678px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 566px;
	white-space: nowrap;
	text-align: left;
	font-family: PT Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 48px;
	color: rgba(33,25,33,1);
	text-transform: uppercase;
	color: #ffffff;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #000000;
}
#texteDecouverte {
	left: 324.678px;
	top: 97px;
	position: absolute;
	overflow: visible;
	width: 967px;
	height: 90px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(33,25,33,1);
}
#championnat {
	position: absolute;
	width: 364px;
	height: 457px;
	left: 317.678px;
	top: 306px;
	overflow: visible;
}
#titreChampionnat {
	transform: translate(0px, 0px) matrix(1,0,0,1,-133,289) rotate(-90deg);
	transform-origin: center;
	left: -40px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 302px;
	white-space: nowrap;
	text-align: left;
	font-family: PT Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(33,25,33,1);
}
#competition {
	position: absolute;
	width: 512px;
	height: 647px;
	left: 747.678px;
	top: 211px;
	overflow: visible;
}
.imgCompet {
	position: absolute;
	width: 466px;
	height: 647px;
	left: 46px;
	top: 0px;
	overflow: visible;
}
#titreCompetition{
	transform: translate(0px, 0px) matrix(1,0,0,1,-62.5,549.5) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	text-align: left;
	font-family: PT Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(33,25,33,1);
}
#actus {
	position: absolute;
	width: 364px;
	height: 457px;
	left: 1324.678px;
	top: 306px;
	overflow: visible;
}
.imgActus {
	position: absolute;
	width: 318px;
	height: 457px;
	left: 46px;
	top: 0px;
	overflow: visible;
}
#titreActus {
	transform: translate(0px, 0px) matrix(1,0,0,1,-46,376) rotate(-90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	text-align: left;
	font-family: PT Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(33,25,33,1);
}